@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif+Caption:ital@0;1&display=swap');

      @font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    
    --cor-1: #c5ebd6;
    --cor-2: #83e1ad;
    --cor-3: #3ddcb4;
    --cor-4: #2fa866;
    --cor-5: #1a5c37;   
    --cor-6: #063d1e;
    
    --fonte-padrao: Arial, verdana, helvetica,sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    background-color: #c5ebd6;
}
a.externo::after {
    content: "\1F517";
   
}

header {
    background-image: linear-gradient(to bottom, var(--cor-4), var(--cor-5));
    color : white;
    min-height: 150px;
    text-align: center;
}
header > h1 {
    text-align: center;
    color:white;
    padding: 20px 0;
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: normal;
   
}
header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    
}

nav {
    background-color: var(--cor-5);
   box-shadow:  inset 0 -4px 6px -6px black  ;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    font-weight: bold;
    transition-duration: 0.5s;
}   

nav a:hover {
    background-color: var(--cor-4);

}
main {
   min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
   
    margin-bottom: 30px;
border-bottom-left-radius: 10px;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2)
}
div.video {
 
    background-color: var(--cor-5);
    margin: 0px -20px 30px -20px;
   position: relative;
   padding-bottom: 50%;
}

div.video > iframe {
 position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;  

}


main h1 {
   font-weight: normal;
    color: var(--cor-5);
    font-family: var(--fonte-android);
}
main h2 {
    color: #2fa866;
    font-family: var(--fonte-android);
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--cor-1), transparent);
    text-indent: 10px;
    font-weight: normal;
}
main img {
   width: 100%; 
}
main img.pequena {
    max-width: 350px;
    margin : auto;
    display: block;
}

aside {
    background-color: var(--cor-1);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
aside ul {
    columns : 2;
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: "\2714\00A0\00A0";
}
aside > h3 {
   background-color: var(--cor-4);
   color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    margin: -15px -15px 10px -15px;
}

main p {
    margin: 15px 0;
    line-height: 1.6em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    font-size: 1em;
}
main strong {
    color: var(--cor-4);
    font-weight: bold;
   
}
main a {
    color: var(--cor-6);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
    background-color: var(--cor-1);

}
main a :hover {
    background-color: var(--cor-3);
    color: var(--cor-5);
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: var(--cor-5);
    color: white;
   font-size: 0.8em;
    padding: 10px 0;
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: black;
}